<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Booking Number</td>
                <td>Date</td>
                <td>Start Time</td>
                <td>Finish Time</td>
                <td>Space Id</td>
                <td>Client Id</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </tbody>

    </table>


</body>
</html>
